#amazonika-header{

background:#fff;

box-shadow:var(--shadow-sm);

position:sticky;

top:0;

z-index:999;

}

.header-inner{

display:flex;

align-items:center;

justify-content:space-between;

padding:18px 0;

}

.logo{

font-size:34px;

font-weight:800;

color:var(--primary);

}

.nav{

display:flex;

gap:35px;

}

.nav a{

font-weight:700;

position:relative;

}

.nav a:hover{

color:var(--primary);

}

.nav a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

width:0;

height:3px;

background:var(--primary);

transition:.3s;

}

.nav a:hover::after{

width:100%;

}
